<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 2.0//EN">
<html>
<head>
    <title>RetroGPT</title>
</head>
<body>
{{> retro_header_partial }}
<h3>Welcome to RetroGPT!</h3>
<p>RetroGPT is an interface to AI services through older devices and web browsers.</p>
</body>
</html>