<table border="0">
    <tbody>
        <tr>
            <td valign="top" align="left">
                <a href="/">
                    <img width="100" src="/RetroGPT/Images/retrogpt.gif" border="0">
                </a>
            </td>
            <td valign="middle" align="center" nowrap="">
                <h1><b>RetroGPT</b></h1>
                <a href="/chat">Chat</a>&nbsp;
                <a href="/image">Images</a>&nbsp;
            </td>
        </tr>
    </tbody>
</table>
<hr>