<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 2.0//EN">
<html>
<head>
    <title>RetroGPT</title>
</head>
<body>

    <h3>Welcome to RetroGPT!</h3>
    <p>RetroGPT is an interface to AI services through older devices and web browsers. To run, we require OpenAI Authentication tokens so that the AI can run on your account.</p>
    <p>Check out the <a target="_blank" href="https://github.com/drasticactions/retrogpt">RetroGPT site</a> (on your modern computer) for more information.</p>
    <hr>
    <table border="0">
        <tbody>
            <tr>
                <td valign="top" align="left">
                    <a href="/">
                        <img width="100" src="/Welcome/Images/retrogpt.gif" border="0">
                    </a>
                </td>
                <td valign="middle" align="center" nowrap="">
                    <h1><b>RetroGPT</b></h1>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>

</body>
</html>